<div class="container" ng-app="myApp" ng-controller="myCtrl" ng-init="userReload('{{convener}}')">    
    <h3 style="text-align:center">Manage Accounts</h3><br>     
        <div class="row">
            <h5>CONVENERS</h5>
            <table class="table">
                <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>CreatedAt</th>
                </tr>
                </thead>
                <tbody>              
            {{# each convener as |res| }}           
                <tr>
                    <td>{{ res.uFname }}</td>
                    <td>{{ res.uLname }}</td>
                    <td>{{ res.email }}</td>
                    <td>{{ res.createdAt }}</td>
                    {{!-- <td>{{ res.uType }}</td> --}}
                    <td><button class="btn btn-primary btn-sm">Update</button></td>
                    <td><button ng-click="myFunction('{{res.email}}')" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Delete</button></td>
                </tr>            
            {{/each}}
                </tbody>
            </table>
         
        </div>
    <br>
    <div class="row">
        <h5>ORGANISERS</h5>
         <table class="table">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>LastName</th>
                <th>Email</th>                
                <th>CreatedAt</th>
            </tr>
            </thead>
            <tbody>
             {{# each organiser as |res| }}
            <tr>
                <td>{{ res.uFname }}</td>
                <td>{{ res.uLname }}</td>
                <td>{{ res.email }}</td>                
                <td>{{ res.createdAt }}</td>
               
                {{!-- <td>{{ res.uType }}</td> --}}
                <td><button class="btn btn-primary btn-sm">Update</button></td>
                <td><button ng-click="myFunction('{{res.email}}')" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Delete</button></td>
            </tr>
            {{/each}}         
            </tbody>
        </table>
</div>

 <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Delete User</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>        
        <!-- Modal body -->
        <div class="modal-body">
          User:[[selectEmail]]          
        </div>        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" ng-click="confirmDelete()" data-dismiss="modal">Delete</button>
        </div>        
      </div>
    </div>
  </div>
  {{!-- //model end --}}
</div>

<script>
var app = angular.module('myApp', []);

  app.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('[[');
    $interpolateProvider.endSymbol(']]');
  });

app.controller('myCtrl', function($scope, $http) {
    $scope.selectEmail = ""; 
    $scope.userReload = function(convener){
        console.log(typeof convener);
    }
     $scope.myFunction = function(res) {        
       $scope.selectEmail = res;
    }
    $scope.confirmDelete = function(){
         $http({
        method : "POST",
        url : "/users/admin/delUser",
        data: {email: $scope.selectEmail}
    }).then(function mySuccess(response) {
        $scope.myWelcome = response.data;
    }, function myError(response) {
        $scope.myWelcome = response.statusText;
    });
    }

});
</script>

