    <div class="row">
        <div class="col">
            <br><h6>ATTENDEE SLOT SELECTION</h6>
            <br><p>Please select your preffered slot for the meeting. Only available slots are shown. You have 24 hours to select your slot.</p>
        </div>    
    </div>
    <div class="row bgw" style=" height: auto; box-shadow: 0px 0px 15px -2px;border-radius:3px;">
        <div class="col">                        
            <br><form action="/attendee/confirm-slot/{{ aid }}/{{ convEmail }}" method="POST">
                <div class="form-group">
                    <label for="startTime"><b>START-TIME</b></label>
                    <label for="startTime" style="padding-left:30px"><b>END-TIME</b></label>

                </div>
                 {{# each slots as |res| }}
                <div class="radio">           
                    {{# equal res.status "booked"}}
                        <label style=" background-color:gray; border-radius:4px; padding: 5px; margin-left:6px; box-shadow:0px 0px 15px -4px;" for="start">{{ res.sStart }}</label>&nbsp;
                        <span style="padding-left:14px">-</span>
                        <label style=" background-color:gray; border-radius:4px; padding: 5px; margin-left:20px; box-shadow:0px 0px 15px -4px;" for="end">{{ res.sEnd }}</label>&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="slot" value="{{res.sId}}" disabled>
                        {{else}}
                        <label style=" background-color:#007bff80; border-radius:4px; padding: 5px; margin-left:6px; box-shadow:0px 0px 15px -4px;" for="start">{{ res.sStart }}</label>&nbsp;
                        <span style="padding-left:14px">-</span>
                        <label style=" background-color:#007bff80; border-radius:4px; padding: 5px; margin-left:20px; box-shadow:0px 0px 15px -4px;" for="end">{{ res.sEnd }}</label>&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="slot" value="{{res.sId}}"><br><br>
                    {{/equal}}   
                         </div>
                    {{/each}}                       
                 <br><br>
                 <button type="submit" class="btn btn-success btn-sm" style="float:right">Submit Selection</button><br><br>
            </form>
        </div>
    </div>
