<div class="container">
    <h3>Convener Dashboard- User: {{email}}</h3><br>
    <a href="/users/conv/new-meeting" style="float:right"><button class="btn btn-primary">create meeting</button></a>
    <br>
    <div><h4>Scheduled meetings</h4></div><br>
    <div class="row">        
         <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Location</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {{# each meeting as |res|}}
            {{# each res as |meet|}}
            <tr>
                <td>{{ meet.mName }}</td>
                <td>{{ meet.mDesc }}</td>
                <td>{{ meet.location }}</td>
                <td>{{ meet.mDate }}</td> 
                <td><a href="/users/conv/slot-status/{{ meet.mId }}" class="btn btn-success btn-sm">view</a></td>            
            </tr>
            {{/each}}
            {{/each}}
            </tbody>
        </table>
    </div>
    <br>
    <div><h4>Authorised Organisers</h4></div><br>
    <div class="row" style=" height: 300px; overflow: scroll;">
         <table class="table table-striped">
            <thead>
            <tr>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            </thead>
            <tbody>
            {{# each organiser as |org|}}
            <tr>
                <td>{{org.email}}</td>
                <td>{{org.uFname}}</td>
                <td>{{org.uLname}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
