<div class="container">
    <br><br><h5>SLOT INFORMATION</h5>
    <div class="row" style="height: 300px; overflow: scroll; box-shadow: 0px 0px 15px -2px;border-radius:7px;">
        <div class="col">         
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Start</th>
                    <th>End</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {{# each slots as |res|}}
                
                <tr>
                    <td>{{ res.sStart }}</td>
                    <td>{{ res.sEnd }}</td>
                    {{# equal res.status "booked"}}
                    <td style="color:green">{{ res.status }}</td>
                    {{else}}
                    <td style="color: orange">{{ res.status }}</td>
                    {{/ equal}}
                </tr>
           
                {{/ each}}
                </tbody>
            </table>
        </div>
    </div>
    <br><br>
    <h5>ATTENDEES</h5>
    <div class="row" style=" height: 300px; overflow: scroll; box-shadow: 0px 0px 15px -2px;border-radius:7px;">
        <div class="col">            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {{# each attendees as |res|}}
                    <tr>
                        <td>{{ res.aFname }}</td>
                        <td>{{ res.aLname }}</td>
                        <td>{{ res.aEmail }}</td>
                    </tr>
                    {{/ each}}
                </tbody>
            </table>
        </div>
    </div>
</div>