
    <br><br>
<a href="/users/org/new-meeting" style="float:right"><button class="btn btn-primary btn-sm">Create Meeting</button></a>
   <div><h5>SCHEDULED MEETINGS</h5></div><br>
    <div class="row bgw" style=" height: 500px; overflow: scroll; box-shadow: 0px 0px 15px -2px;border-radius:3px;">        
         <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Location</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {{# each meeting as |res|}}
            {{# each res as |meet|}}
            <tr>
                <td>{{ meet.mName }}</td>
                <td>{{ meet.mDesc }}</td>
                <td>{{ meet.location }}</td>
                <td>{{ meet.mDate }}</td> 
                <td><a href="/users/org/slot-status/{{ meet.mId }}" class="btn btn-success btn-sm">view</a></td>             
            </tr>
            {{/each}}
            {{/each}}
            </tbody>
        </table>
    </div>
    <br><br>

